@charset "UTF-8";
p {
  font-family: Open sans;
  font-size: 1.2rem;
  letter-spacing: -0.18px;
  line-height: 30px;
  color: #212121; }

h3 {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 600; }

h2 {
  font-family: Playfair Display;
  font-weight: 700;
  font-size: 60px; }
  @media screen and (max-width: 640px) {
    h2 {
      font-size: 40px; } }

body {
  background: #FAFAFA; }

.page-id-212 {
  overflow-x: hidden; }

h1 {
  font-family: Playfair Display;
  font-size: 3.8rem;
  font-weight: 600; }

.bg-home {
  position: relative;
  background-color: #CCC; }
  .bg-home .bg-home-video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    overflow: hidden; }
    .bg-home .bg-home-video:before {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      content: '';
      background: rgba(0, 0, 0, 0.3); }
    .bg-home .bg-home-video video {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .bg-home .bg-home-wrapper {
    position: relative; }
    .bg-home .bg-home-wrapper h1 {
      font-size: 60px;
      color: #fff; }
      @media screen and (max-width: 640px) {
        .bg-home .bg-home-wrapper h1 {
          font-size: 34px; } }
  .bg-home .bg-home-content {
    display: flex;
    min-height: 600px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center; }

@media screen and (max-width: 640px) {
  .content_calandar_item_o {
    display: none; } }

.content_calandar_item_o h1 {
  color: #fff;
  margin: 10px; }

.content_calandar_item_o h3 {
  color: #FEFEFE;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px; }

.content_calandar_item_o .img_bg {
  width: 100%;
  background-size: cover;
  height: 400px; }
  .content_calandar_item_o .img_bg:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    content: ""; }

.content_calandar_item_o .pays_calendar {
  height: 40px;
  width: 160px;
  background-color: #1da3b2;
  font-family: Montserrat;
  color: #fff;
  font-size: 1.3rem;
  padding-top: 4px; }

.content-desc {
  margin-top: 50px;
  margin-bottom: 50px; }
  .content-desc .title_desc {
    color: #1da3b2;
    margin-bottom: 30px; }
    @media screen and (max-width: 640px) {
      .content-desc .title_desc {
        font-size: 30px; } }

.content_calandar_item {
  margin-top: 30px; }
  @media screen and (max-width: 640px) {
    .content_calandar_item {
      display: none; } }
  .content_calandar_item h3 {
    color: #FEFEFE;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px; }
  .content_calandar_item .img_bg {
    width: 100%;
    background-size: cover;
    height: 300px; }
    .content_calandar_item .img_bg:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      content: ""; }
  .content_calandar_item .pays_calendar {
    height: 40px;
    width: 160px;
    background-color: #1da3b2;
    font-family: Montserrat;
    color: #fff;
    font-size: 1.3rem;
    padding-top: 4px; }

.pos-absolute {
  position: absolute; }
  .pos-absolute.pos-top {
    top: 0; }
  .pos-absolute.pos-bottom {
    bottom: 0; }
  .pos-absolute.pos-left {
    left: 0; }
  .pos-absolute.pos-right {
    right: 0; }

.nb_22 {
  height: 150px; }

.img_map {
  position: relative;
  margin: auto;
  height: 590px;
  background-size: cover; }
  @media screen and (max-width: 640px) {
    .img_map {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; } }

.btn_sub {
  background-color: #1DA3B2;
  color: #fff;
  border-color: #1DA3B2;
  height: 39px; }

.bg_bois {
  width: 100%;
  min-height: 500px;
  background-size: cover;
  margin-top: 100px; }
  .bg_bois h3 {
    color: #1DA3B2; }
  .bg_bois p {
    color: #fefefe; }
  .bg_bois .img_travel {
    height: 300px; }
  .bg_bois .btn_color {
    background-color: #1DA3B2;
    border-radius: 2px;
    color: #fff; }

@media screen and (max-width: 640px) {
  .item-sliderMobile {
    display: block; } }

@media screen and (min-width: 640px) {
  .item-sliderMobile {
    display: none; } }

.slick-slide {
  height: auto; }

.postid-80 {
  overflow-x: hidden; }

.bg-home {
  position: relative;
  background-color: #CCC; }

/* Video overlay and content */
.video-hero--content {
  position: relative;
  text-align: center;
  color: #FFF;
  margin: 150px 0;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }

.page-width {
  width: 92%;
  max-width: 960px;
  margin: 0 auto;
  height: 100vh; }

/* CSS from jQuery Background Video plugin */
/**
 * Set default positioning as a fallback for if the plugin fails
 */
.jquery-background-video-wrapper {
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }

.jquery-background-video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/**
 * Fade in videos
 * Note the .js class - so non js users still
 * see the video
 */
.js .jquery-background-video {
  opacity: 0;
  -webkit-transition: opacity 300ms linear;
  transition: opacity 300ms linear; }

.js .jquery-background-video.is-visible {
  opacity: 1; }

/**
 * Pause/play button
 */
.jquery-background-video-pauseplay {
  position: absolute;
  background: transparent;
  border: none;
  box-shadow: none;
  width: 20px;
  height: 20px;
  top: 15px;
  right: 15px;
  padding: 0;
  cursor: pointer;
  outline: none !important; }

.jquery-background-video-pauseplay span {
  display: none; }

.jquery-background-video-pauseplay:after,
.jquery-background-video-pauseplay:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.jquery-background-video-pauseplay.play:before {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #FFF; }

.jquery-background-video-pauseplay.pause:before,
.jquery-background-video-pauseplay.pause:after {
  border-top: 10px solid #FFF;
  border-bottom: 10px solid #FFF;
  border-left: 5px solid #FFF; }

.jquery-background-video-pauseplay.pause:after {
  left: 10px; }

.article__intro {
  height: 790px;
  background-size: cover; }
  .article__intro:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0, 0, 0, 0.67);
    top: 0;
    left: 0; }

.article__hero {
  height: 400px;
  background: #28A3B1;
  text-align: center;
  transform: translateY(-70%);
  z-index: 3; }
  @media screen and (max-width: 640px) {
    .article__hero {
      height: 550px;
      transform: translateY(-30%); } }
  .article__hero h1 {
    margin-top: 10%;
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 60px;
    color: #FEFEFE; }
    @media screen and (max-width: 640px) {
      .article__hero h1 {
        font-size: 48px; } }
  .article__hero p {
    font-family: Open sans;
    font-size: 1.2rem;
    letter-spacing: -0.18px;
    line-height: 30px;
    color: #FEFEFE; }

.article__about {
  height: 600px;
  background: #FAFAFA; }

.article__bolivie {
  padding-top: 7%;
  text-align: center; }
  .article__bolivie h2 {
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 5%;
    padding-bottom: 5%; }
  .article__bolivie ul {
    list-style-type: none; }
    .article__bolivie ul li {
      font-family: Open sans;
      font-size: 1rem; }

.article__bolivieImage {
  background-size: cover;
  height: 600px; }
  @media screen and (max-width: 640px) {
    .article__bolivieImage {
      height: 200px; } }

.article__origins {
  padding-top: 10%; }
  .article__origins .article__originsTitle {
    text-transform: uppercase;
    margin-left: 5%;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 600; }
    .article__origins .article__originsTitle:before {
      content: '';
      height: 3px;
      width: 100px;
      background-color: #28A3B1;
      position: absolute;
      margin-right: 5%;
      transform: translate(-150%, 15px); }
      @media screen and (max-width: 640px) {
        .article__origins .article__originsTitle:before {
          transform: translate(-110%, 15px); } }
  .article__origins h1 {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 60px; }
    @media screen and (max-width: 640px) {
      .article__origins h1 {
        font-size: 48px; } }

.article__timeline {
  background-position: center;
  background-repeat: no-repeat;
  height: 1000px; }
  @media screen and (max-width: 1024px) {
    .article__timeline {
      display: none; } }

.article__timelineMobile {
  background-position: left;
  background-repeat: no-repeat;
  background-position: -67px;
  height: auto;
  padding-top: 15%;
  padding-left: 15%;
  text-align: left; }
  @media screen and (max-width: 10240px) {
    .article__timelineMobile {
      display: block; } }
  @media screen and (min-width: 1024px) {
    .article__timelineMobile {
      display: none; } }
  .article__timelineMobile p {
    /* Le peuple andin Uru: */
    font-family: Open sans;
    font-size: 14px;
    color: #212121;
    letter-spacing: -0.15px;
    line-height: 25px; }

.article__timelineOne {
  padding-top: 10%;
  text-align: right;
  transform: translateY(20%); }
  .article__timelineOne h2 {
    font-family: Playfair Display;
    color: #09D7C9;
    font-size: 42px; }

.article__timelineTwo h2 {
  font-family: Playfair Display;
  color: #F2A300;
  font-size: 42px; }

.article__timelineThree {
  text-align: right;
  margin-top: -15%;
  transform: translateY(30%); }
  .article__timelineThree h2 {
    font-family: Playfair Display;
    color: #DC0073;
    font-size: 42px; }

.article__timelineFour h2 {
  font-family: Playfair Display;
  color: #0957EF;
  font-size: 42px; }

.article__timelineOneMobile {
  padding-top: 15%; }
  .article__timelineOneMobile h2 {
    font-family: Playfair Display;
    color: #09D7C9;
    font-size: 28px; }

.article__timelineTwoMobile h2 {
  font-family: Playfair Display;
  color: #F2A300;
  font-size: 28px; }

.article__timelineThreeMobile {
  margin-top: -5%; }
  .article__timelineThreeMobile h2 {
    font-family: Playfair Display;
    color: #DC0073;
    font-size: 28px; }

.article__timelineFourMobile h2 {
  font-family: Playfair Display;
  color: #0957EF;
  font-size: 28px; }

.next-arrow {
  position: absolute;
  top: 50%;
  right: 1%;
  outline: none; }

.prev-arrow {
  position: absolute;
  top: 50%;
  left: 1%;
  z-index: 1;
  outline: none; }

.article__quote {
  height: 550px;
  background: #F9F9F9; }
  @media screen and (max-width: 640px) {
    .article__quote {
      height: auto; } }

.article__quoteText {
  text-align: center; }
  .article__quoteText h3 {
    font-family: Playfair Display;
    font-weight: 700i;
    font-size: 30px;
    color: #212121;
    font-style: italic;
    letter-spacing: 0;
    line-height: 51px; }
    @media screen and (max-width: 640px) {
      .article__quoteText h3 {
        font-size: 24px;
        line-height: 36px; } }

.article__quoteLine {
  height: 100px;
  width: 3px;
  background: #28A3B1; }

.article__deroulementOne {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5); }

.article__deroulementTwo {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-350px); }
  @media screen and (max-width: 640px) {
    .article__deroulementTwo {
      transform: translateY(0); } }

.article__sixd {
  transform: translateY(-80%); }
  @media screen and (max-width: 640px) {
    .article__sixd {
      transform: translateY(0); } }
  .article__sixd h3:before {
    content: '';
    height: 3px;
    width: 100px;
    background-color: #28A3B1;
    position: absolute;
    margin-right: 5%;
    transform: translate(-150%, 15px); }
    @media screen and (max-width: 640px) {
      .article__sixd h3:before {
        transform: translate(-110%, 15px); } }

.article__stats {
  height: auto;
  background: #F9F9F9;
  text-align: center; }
  @media screen and (max-width: 640px) {
    .article__stats {
      height: auto; } }

.article__statsElements {
  padding-top: 5%; }

.black__section {
  background: #212121; }

.article__blackWrap1 {
  padding-top: 5%;
  z-index: 2; }
  .article__blackWrap1 img {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5); }

.article__bwtext {
  padding-top: 10%; }
  .article__bwtext h2 {
    color: #FAFAFA; }
  .article__bwtext p {
    color: #FAFAFA;
    letter-spacing: -0.18px;
    line-height: 30px; }

.article__blackWrap2 {
  padding-top: 5%;
  z-index: 1;
  transform: translateY(-50%); }
  @media screen and (max-width: 640px) {
    .article__blackWrap2 {
      transform: translateY(0); } }
  .article__blackWrap2 img {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5); }

.player {
  width: 100px;
  height: 100px;
  position: relative; }
  .player:before, .player:after {
    content: "";
    position: absolute;
    width: 0;
    border-style: solid;
    border-color: transparent;
    border-left-color: #fff;
    transition: .1s; }
  .player:before {
    left: 0;
    top: 0;
    height: 50px;
    border-width: 25px 50px 25px 50px; }
  .player:after {
    height: 0;
    border-width: 25px 0 25px 50px; }
  .player.paused:before {
    height: 50px;
    border-width: 0 0 0 20px; }
  .player.paused:after {
    left: 26px;
    top: 0;
    height: 50px;
    border-width: 0 0 0 20px; }

.article__bwtext2 {
  padding-top: 10%; }
  .article__bwtext2 h3 {
    color: #FAFAFA; }
    .article__bwtext2 h3:before {
      content: '';
      height: 3px;
      width: 100px;
      background-color: #28A3B1;
      position: absolute;
      margin-right: 5%;
      transform: translate(-150%, 15px); }
      @media screen and (max-width: 640px) {
        .article__bwtext2 h3:before {
          transform: translate(-110%, 15px); } }
  .article__bwtext2 h2 {
    color: #FAFAFA; }
  .article__bwtext2 p {
    color: #FAFAFA;
    letter-spacing: -0.18px;
    line-height: 30px; }

.article__bwvideo1 {
  overflow: hidden;
  height: 350px;
  z-index: 2; }

.article__bwvideo2 {
  overflow: hidden;
  height: 350px;
  transform: translateY(-20%);
  z-index: 1; }

.article__mask {
  transform: translateY(50%); }
  @media screen and (max-width: 1024px) {
    .article__mask {
      transform: translateY(0); } }

.article__quote2 {
  height: 550px;
  background: #F9F9F9;
  padding-top: 10%; }
  @media screen and (max-width: 640px) {
    .article__quote2 {
      height: auto; } }

.article__concours {
  background-size: cover;
  height: 90vh;
  margin-bottom: 10%; }
  @media screen and (max-width: 640px) {
    .article__concours {
      height: 150vh; } }
  .article__concours:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 90vh;
    left: 0;
    background-image: linear-gradient(-168deg, rgba(62, 208, 217, 0.85) 1%, rgba(29, 163, 178, 0.85) 78%); }
    @media screen and (max-width: 640px) {
      .article__concours:before {
        height: 150vh; } }
  .article__concours h3 {
    font-size: 24px;
    padding-top: 20%;
    color: #FEFEFE; }
  .article__concours .article__share1 {
    font-size: 36px;
    padding-top: 5%;
    line-height: 50px;
    color: #FEFEFE; }
    @media screen and (max-width: 640px) {
      .article__concours .article__share1 {
        font-size: 20px;
        line-height: 30px; } }
  .article__concours .article__share2 {
    font-size: 60px;
    text-align: right;
    transform: translateY(-50%);
    color: #FEFEFE; }
    @media screen and (max-width: 640px) {
      .article__concours .article__share2 {
        font-size: 40px;
        transform: translateY(0); } }
  .article__concours .article__share3 {
    font-size: 25px;
    color: #FEFEFE; }
    @media screen and (max-width: 640px) {
      .article__concours .article__share3 {
        font-size: 1rem; } }

.article__iphone {
  padding-top: 5%; }
  @media screen and (max-width: 640px) {
    .article__iphone {
      display: none; } }

.article__compCard {
  height: 300px;
  background: #FEFEFE;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5); }

.article__compCard {
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%; }
  .article__compCard p {
    padding-top: 5%;
    padding-left: 1%; }

.article__iphoneMobile {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 75%;
  margin: auto; }
  @media screen and (min-width: 640px) {
    .article__iphoneMobile {
      width: 15%; } }

.btn_color {
  background-color: #1DA3B2;
  border-radius: 2px;
  color: #fff; }

.postid-114 {
  overflow-x: hidden; }

.coffee__intro {
  height: 200vh;
  background-size: cover; }
  @media screen and (max-width: 640px) {
    .coffee__intro {
      height: 150vh;
      background-position: center; } }

.coffee__introContent {
  padding-top: 15%; }
  @media screen and (max-width: 640px) {
    .coffee__introContent {
      padding-top: 200%; } }
  @media screen and (max-width: 640px) {
    .coffee__introContent h2 {
      color: #FEFEFE; } }
  .coffee__introContent p {
    font-size: 1.2rem; }
    @media screen and (max-width: 640px) {
      .coffee__introContent p {
        color: #FEFEFE;
        font-size: 1rem; } }

.article__about {
  height: 600px;
  background: #FAFAFA; }

.article__coffee {
  padding-top: 7%;
  text-align: center; }
  .article__coffee h2 {
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 5%;
    padding-bottom: 5%; }
  .article__coffee ul {
    list-style-type: none; }
    .article__coffee ul li {
      font-family: Open sans;
      font-size: 1rem; }

.article__coffeeImage {
  background-size: cover;
  height: 600px; }
  @media screen and (max-width: 640px) {
    .article__coffeeImage {
      height: 200px; } }

.coffee__origins {
  padding-top: 10%; }
  .coffee__origins h3 {
    padding-left: 25%;
    color: #af8045; }
    .coffee__origins h3:before {
      content: '';
      height: 3px;
      width: 100px;
      background-color: #AF8045;
      position: absolute;
      margin-right: 5%;
      transform: translate(-150%, 15px); }
  .coffee__origins p {
    letter-spacing: -0.18px;
    line-height: 30px; }

.coffee__cup {
  transform: translateY(50%); }
  @media screen and (max-width: 640px) {
    .coffee__cup {
      transform: translateY(0); } }

.coffee__quoteLine {
  height: 100px;
  width: 3px;
  background: #AF8045; }

.coffee__rituals {
  padding-top: 10%; }
  .coffee__rituals h3 {
    padding-left: 20%; }
    .coffee__rituals h3:before {
      content: '';
      height: 3px;
      width: 100px;
      background-color: #AF8045;
      position: absolute;
      margin-right: 5%;
      transform: translate(-150%, 15px); }
  .coffee__rituals p {
    letter-spacing: -0.18px;
    line-height: 30px; }

.coffee__step1 {
  padding-top: 10%; }

.coffee__serving {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  height: 100%; }

.coffee__step1Card {
  height: 300px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  background: #7D5B3C;
  margin-top: 20%;
  transform: translateX(-15%);
  z-index: 2; }
  @media screen and (max-width: 640px) {
    .coffee__step1Card {
      transform: translateY(0);
      margin-top: 0; } }
  .coffee__step1Card h3 {
    padding-top: 15%;
    color: #FAFAFA; }
  .coffee__step1Card p {
    color: #FAFAFA; }

.coffee__stepNb p {
  font-family: Playfair Display;
  font-size: 258pt;
  color: #212121;
  letter-spacing: -20pt;
  padding-top: 75%;
  transform: translateX(-100%);
  letter-spacing: -20pt;
  z-index: 1;
  color: #EAEDF1; }
  @media screen and (max-width: 640px) {
    .coffee__stepNb p {
      transform: translateY(0);
      display: none; } }

.coffee__stepNbMobile p {
  font-family: Playfair Display;
  font-size: 110px;
  padding-top: 0;
  transform: translateY(-60%);
  letter-spacing: 0;
  z-index: 1;
  color: #EAEDF1; }

.coffee__stepNb2 p {
  font-family: Playfair Display;
  font-size: 258pt;
  color: #212121;
  letter-spacing: -20pt;
  padding-top: 65%;
  transform: translateX(-30%);
  letter-spacing: -20pt;
  z-index: 1;
  color: #EAEDF1; }
  @media screen and (max-width: 640px) {
    .coffee__stepNb2 p {
      transform: translateY(0);
      display: none; } }

.coffee__stepNb2Mobile p {
  font-family: Playfair Display;
  font-size: 110px;
  padding-top: 0;
  transform: translateY(-60%);
  letter-spacing: 0;
  z-index: 1;
  color: #EAEDF1; }

.coffee__step3Card {
  height: 250px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  background: #7D5B3C;
  margin-top: 10%;
  transform: translateX(-15%);
  z-index: 2; }
  @media screen and (max-width: 640px) {
    .coffee__step3Card {
      transform: translateY(0);
      margin-top: 0; } }
  .coffee__step3Card h3 {
    padding-top: 15%;
    color: #FAFAFA; }
  .coffee__step3Card p {
    color: #FAFAFA; }

.coffee__archives {
  padding-top: 10%; }

.coffee__anecdotes h3 {
  color: #af8045; }
  .coffee__anecdotes h3:before {
    content: '';
    height: 3px;
    width: 100px;
    background-color: #AF8045;
    position: absolute;
    margin-right: 5%;
    transform: translate(-150%, 15px); }
    @media screen and (max-width: 640px) {
      .coffee__anecdotes h3:before {
        transform: translate(-110%, 15px); } }

.coffee__anecdotes p {
  margin-left: 15%; }

.coffee__bs {
  background: #212121;
  height: auto; }

.coffee__preparation h3 {
  color: #af8045;
  padding-left: 20%; }
  .coffee__preparation h3:before {
    content: '';
    height: 3px;
    width: 100px;
    background-color: #AF8045;
    position: absolute;
    margin-right: 5%;
    transform: translate(-150%, 15px); }

.coffee__preparation h2 {
  color: #FAFAFA; }

.coffee__stepText {
  text-align: center;
  background: #FEFEFE;
  height: auto; }

.coffee__stepWrap {
  max-height: 228px;
  overflow: hidden; }

.coffee__flavors {
  padding-top: 10%; }
  .coffee__flavors h3 {
    padding-left: 20%;
    color: #af8045; }
    .coffee__flavors h3:before {
      content: '';
      height: 3px;
      width: 100px;
      background-color: #AF8045;
      position: absolute;
      margin-right: 5%;
      transform: translate(-150%, 15px); }
  .coffee__flavors h2 {
    color: #FEFEFE; }

.coffee__video {
  padding-bottom: 20%; }

.coffee__flavs {
  padding-bottom: 20%; }

.coffee__flavorRound {
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px; }
  @media screen and (max-width: 640px) {
    .coffee__flavorRound {
      margin: auto; } }

@media screen and (max-width: 640px) {
  .coffee__cards {
    margin: 10% 0 10% 0; } }

.competition__bg {
  height: 100vh;
  background-size: cover;
  background-position: center; }
  .competition__bg:before {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    content: '';
    background: rgba(0, 0, 0, 0.3);
    z-index: 1; }
  .competition__bg h2 {
    padding-top: 20%;
    color: #FEFEFE;
    text-align: center;
    z-index: 2;
    position: relative; }

.title_cc {
  font-size: 1rem;
  color: #1DA3B2; }

.wrapper_404 {
  margin: 50px;
  height: 100%;
  text-align: center; }

.infos_404 {
  height: 100%; }

.title_404 {
  color: #ffffff;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  font-size: 11rem;
  opacity: 0.1; }

.directionSeparator__404 {
  margin-top: 20px;
  background: #eec901;
  height: 2px;
  transform-origin: center;
  border: none;
  transform: scaleX(0.35); }

.text_404 {
  margin-top: 30px;
  color: #ffffff;
  font-family: 'Abril Fatface', cursive;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 100px; }

.infos_404 img {
  width: 25px;
  margin-top: 30px; }

.home_404 {
  margin-top: 30px;
  color: #ffffff;
  font-family: 'Abril Fatface', cursive;
  font-size: 2rem;
  text-transform: uppercase;
  display: inline; }

.infos_404 a:hover {
  text-decoration: none; }

.card_404 img {
  width: 100%; }

.header_theme  {
  position: absolute;
  top: 5%;
  left: 40%;
  transform: translateX(-50%);
  z-index: 10; }

.menu__fix {
  display: flex;
  align-items: center; }

@media screen and (max-width: 640px) {
  .header__nav {
    display: none; } }

.the_menu {
  display: -webkit-box;
  list-style-type: none;
  margin: 0 0 0 200px; }
  .the_menu li {
    padding-right: 200px; }
    .the_menu li a {
      width: 100%;
      text-decoration: none;
      color: #fefefe;
      text-align: center; }

/*.header__navMobile{
  @media screen and (max-width: 640px){
    display: block;
  }
  @media screen and (min-width: 640px){
    display: none;
  }
}*/
.footer {
  height: auto;
  background: #FEFEFE;
  text-align: center; }
  @media screen and (max-width: 640px) {
    .footer {
      padding-top: 30%; } }

.logo__footer {
  margin-bottom: 5%; }

.menu__footer {
  list-style-type: none;
  display: flex; }
  .menu__footer li {
    width: 100%; }
    .menu__footer li a {
      text-decoration: none;
      font-family: Open sans;
      font-size: 18px;
      color: #212121; }

.footer__icons {
  text-align: center; }
  .footer__icons p {
    color: #1AA3B2;
    text-align: center; }

.footer__iconsBloc {
  text-align: center; }

.socials {
  padding-top: 5%;
  list-style-type: none;
  display: flex;
  justify-content: center; }
  .socials li {
    padding-right: 2%; }
